body {
   
    
    
    height: 100vh;
    
    

    font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
  }
  .centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .mainScreen {
    max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#maestroScreen {
  max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#whatsAppScreen {
max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#telegramScreen {
max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#formScreen {
max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#adminScreen {
  max-width: 600px;
margin: 0 auto;
background: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
flex-direction: column; /* Organiza os itens em uma coluna */
align-items: center; /* Centraliza os itens horizontalmente */
justify-content: center; /* Centraliza os itens verticalmente */
margin: auto; /* Centraliza o conteúdo na tela */
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
max-height: 600px; /* Adicionei uma altura máxima */
}
#qrCode {
   height: 100vh;
  
    font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
  /
    
  }
  /* Define a classe .button */
.button {
    display: flex;/* Cria um container flexível */
    align-items: center;/* Centraliza os itens verticalmente */
    justify-content: center;/* Centraliza os itens horizontalmente */
    width: 93%;/* Define a largura do botão como 80% do container pai */
    padding: 15px;/* Adiciona um padding de 15px ao botão */
    margin: 10px;/* Adiciona uma margem de 10px ao botão */
    border-radius: 20px;/* Adiciona cantos arredondados ao botão */
    font-size: 18px;/* Define o tamanho da fonte do texto do botão */
    color: white;/* Define a cor do texto do botão */
    cursor: pointer;/* Muda o cursor para um ponteiro quando passa sobre o botão */
    transition: background-color 0.3s ease;/* Adiciona uma transição suave à cor de fundo do botão */
    background-color: #4A90E2;/* Adicione uma cor de fundo ao botão */
}


  .whatsapp { background-color: #25D366; }
  .telegram { background-color: #0088cc; }
  .form { background-color: #ff5722; }
  .maestro { background-color: #4CAF50; }
  .admin { background-color: #808080; }
  @media (max-width: 600px) {
    .button { width: 90%; }
  }
.button i {
  margin-right: 8px;
}
  .hidden { display: none; }

  h1 {
  color: #4A90E2;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
  h2 {color: #4A90E2;}
  
button {
  /*REFERENTE AO BUTTON VOLTAR*/
  margin-top: 20px;
  background-color: #FF8C00;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px; /* Adiciona cantos arredondados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}
button:hover {background-color: #ffa64d;}

#adminScreen input[type="text"],
        #adminScreen input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 4px;
        }

        /*Estilo da tela formulario*/
        
.sm__form {
            max-width: 600px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .sm-field__wrapper {
            margin-bottom: 15px;
        }
        .sm-field__label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }
        .sm-field__input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .sm-btn--primary {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #007bff;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .sm-btn--primary:hover {
            background-color: #0056b3;
        }
        .sm-branding-footer {
            text-align: center;
            margin-top: 20px;
        }
        .sm-branding-footer a {
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
        }
        .sm-branding-footer a:hover {
            text-decoration: underline;
        }
